@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.tabladir{
    background: #000 !important;
}

th {
    text-align: center;
    max-width:120px;;
}
td{
    border:none !important;
}
.aceptar {
	box-shadow: 2px 13px 22px -7px #5dcf3e;
	background:linear-gradient(to bottom, #1db345 5%, #83eb4c 100%);
	background-color:#1db345;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:-3px 2px 0px #35a122;
}

.aceptar:hover {
	background:linear-gradient(to bottom, #83eb4c 5%, #1db345 100%);
	background-color:#83eb4c;
}
.aceptar:active {
	position:relative;
	top:1px;
}

.usuarioPhoto{
    width: 200px;
}
.bg-orange{
  background-color: #ff5b00 !important;
}

.nav-link{
  padding: none !important;
}

.sidebar{
  background-color: #ddd !important;
}

.sidebar .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
}

.login-contenedor {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-contenedor .avatar {
  width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -90px;
    left: calc(60% - 100px);
}

.login-contenedor h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-contenedor label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-contenedor input {
  width: 100%;
  margin-bottom: 20px;
}

.login-contenedor input[type="text"], .login-contenedor input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-contenedor input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-contenedor input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-contenedor a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-contenedor a:hover {
  color: #fff;
}